
        @media (max-width: 1024px) {
            .categories-grid { grid-template-columns: repeat(3, 1fr); }
            .devices-grid { grid-template-columns: repeat(2, 1fr); }
            .pricing-grid { grid-template-columns: repeat(2, 1fr); }
            .footer-grid { grid-template-columns: repeat(4, 1fr); }
        }

        @media (max-width: 768px) {
            .nav-links { display: none;}
            .hero h1 { font-size: 2.5rem; }
            
            .categories-grid { grid-template-columns: repeat(2, 1fr); }
            .devices-grid { grid-template-columns: 1fr; }
            .faq-grid { grid-template-columns: 1fr; }
            .pricing-grid { grid-template-columns: 1fr; }
            .footer-grid { grid-template-columns: repeat(2, 1fr); }
            
            .section-header { flex-direction: column; align-items: flex-start; }
            .price-actions { flex-direction: column; }
            .play-btn-large {width: 300px;}
            .play-btn-large img {width: 300px;}
        }

        @media (max-width: 480px) {
            .categories-grid { grid-template-columns: 1fr; }
            .footer-grid { grid-template-columns: 1fr; }
            .play-btn-large {width: 200px;}
            .play-btn-large img {width: 200px;}
        }
        @media (max-height < 1000px) {
            .play-btn-large {width: 400px;}
            .play-btn-large img {width: 400px;}
        }