:root {
  --bg-black: #141414;
  --bg-dark: #1a1a1a;
  --bg-header: rgba(20, 20, 20, 0.9);
  --primary-red: #e50914;
  --text-white: #ffffff;
  --text-gray: #999999;
  --border-color: #262626;
  --font-main: "Manrope", sans-serif;
  --bg-dark-gray: #1f1f1f;
  --bg-card: #1a1a1a;
  --gap-section: 100px;
  --bg-light-gray: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-black);
  color: var(--text-white);
  font-family: var(--font-main);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1400px;
  margin: 80px auto 0;
  padding: 0 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.95);
  backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0 !important;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  color: var(--primary-red);
}

.nav-links {
  display: flex;
  gap: 10px;
  background: var(--bg-black);
  padding: 8px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.nav-links a {
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--text-gray);
  font-size: 0.9rem;
}

.nav-links a:hover,
.nav-links a.active {
  background-color: var(--bg-light-gray);
  color: var(--text-white);
}

.header-icons {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-container {
  position: relative;
  width: max-content;
  margin-right: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 8px 15px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.search-box:focus-within {
  border-color: #e50914;
}

.search-box input {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 0.95rem;
  width: 250px;
  outline: none;
}

.search-box input::placeholder {
  color: #999;
}

.search-box button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  margin-left: 10px;
}

.search-results-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-height: 400px;
  z-index: 9999;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-results-dropdown::-webkit-scrollbar {
  display: none;
}

.search-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #2a2a2a;
  transition: background 0.2s;
}

.search-item:last-child {
  border-bottom: none;
}

.search-item:hover {
  background-color: #333;
}

.search-item img {
  width: 50px;
  height: 75px;
  object-fit: cover;
  border-radius: 4px;
}

.search-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.search-title {
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-meta {
  color: #999;
  font-size: 0.8rem;
}

.search-meta1 {
  color: #999;
  font-size: 0.8rem;
  margin-top: 4px;
}

.simple-video-section {
  margin-bottom: 40px;
  background-color: #141414;
  padding-top: 70px;
}

.video-box {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #141414;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.video-box iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}

.main-content {
  padding: 0px 20px;
}

.details-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.content-card {
  background-color: var(--bg-dark);
  border: 1px solid var(--border-color);
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.content-card h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
}

.text-gray {
  color: var(--text-gray);
}

.cast-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.cast-item {
  min-width: 100px;
  font-size: 0.9rem;
  color: var(--text-gray);
  text-align: center;
}

.cast-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
  border: 2px solid #333;
}

.meta-card .meta-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #262626;
  padding-bottom: 15px;
  font-size: 0.95rem;
}

.meta-row:last-child {
  border: none;
  padding-bottom: 0;
}

.meta-label {
  color: var(--text-gray);
  display: flex;
  align-items: center;
  gap: 8px;
}

.genres-tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tag {
  background: #0f0f0f;
  border: 1px solid #333;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.seasons-section {
  margin-top: 0px;
  background-color: #0f0f0f;
  border: 1px solid #262626;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 30px;
}

.seasons-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.seasons-header h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.seasons-list {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}
.seasons-list::-webkit-scrollbar {
  width: 6px;
}

.seasons-list::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.seasons-list::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.seasons-list::-webkit-scrollbar-thumb:hover {
  background: var(--primary-red);
}
.cast-list {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}
.cast-list::-webkit-scrollbar {
  width: 6px;
}

.cast-list::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.cast-list::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.cast-list::-webkit-scrollbar-thumb:hover {
  background: var(--primary-red);
}
.season-dropdown {
  background-color: #141414;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 6px;
  color: var(--text-gray);
  cursor: pointer;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.season-card {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid #262626;
  align-items: flex-start;
  cursor: pointer;
}
.season-card:hover {
  background-color: #1a1a1a;
}
.season-card:last-child {
  border-bottom: none;
}

.season-card__number {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-gray);
  min-width: 40px;
  padding-top: 10px;
}

.season-card__img {
  flex-shrink: 0;
  width: 160px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.season-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.season-card__info {
  flex: 1;
}

.card-info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-info__header h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}

.duration {
  background-color: #141414;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
  color: var(--text-gray);
  border: 1px solid #333;
  white-space: nowrap;
}

.season-card__info p {
  color: var(--text-gray);
  font-size: 0.95rem;
  line-height: 1.6;
}

footer {
  background-color: #000;
  padding: 60px 0 20px;
  margin-top: 100px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 40px;
}

.footer-col h4 {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  color: var(--text-gray);
  font-size: 0.95rem;
}

.footer-col ul li a:hover {
  color: var(--text-white);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: var(--text-gray);
  font-size: 0.9rem;
}
.control-btn {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #333;
}
.control-btn:hover {
  background-color: #333;
}
.movie-name {
  max-width: 1400px;
  margin: 60px auto 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-meta2 {
  display: none;
}
.cta-banner-wrapper {
  margin-bottom: 100px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bcae-07a3f8dc141a/f6d7434e-d6de-4185-a6d4-c77a2d08737b/US-en-20220502-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 80px 60px;
}

.cta-banner-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #0f0f0f 0%,
    rgba(15, 15, 15, 0.95) 40%,
    rgba(15, 15, 15, 0.7) 100%
  );
  z-index: 1;
}
.cta-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.cta-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text-white);
}

.cta-text p {
  color: var(--text-gray);
  font-size: 1rem;
}
.btn-primary {
  background-color: var(--primary-red);
  color: var(--text-white);
}
.btn-primary:hover {
  background-color: #b20710;
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
